
/* navigation bar styling */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #e8f5e9;
    margin-top: 45px;
    background-image: url("../assets/backgroundjpg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
}

#navSelectBox{
    display: flex;
    justify-content: space-between;
}

.navSelectItems{
    /* margin-right: 4px; */
    padding: 2px 10px 2px 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2f4f4f;
    text-decoration: none;
}

.navSelectItems:hover{
    text-decoration: underline;
}

#navBox{
    position: fixed;
    top: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6fc375;
    z-index: 100;
}

#profileNameBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2f4f4f;
    margin-left: 1px;
}

#profileNameBox img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 1px;
    margin-right: 5px;
}

#profileNameBox div{    /*name*/
    font-weight: bold;
    animation-name: nameAnimation;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes nameAnimation {
   0%{
    clip-path: inset(0 100% 0 0);
   }
   65%{
    clip-path: inset(0 0 0 0);
   }
   100%{
    clip-path: inset(0 100% 0 0);
   }
}

@media (max-width: 600px) {
    
    #profileHeadingBox{
        flex-direction: column;
        text-align: center;
    }

    #navBox{
        font-size: 15px;
    }
    .navSelectItems{
        font-size: 13px;
        padding: 2px 2px 2px 2px;
        text-align: center;
    }

    #profileHeadingPhotoName{
        margin-bottom: 20px;
    }
}


/* start of the content styling */
#contactHeading{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orange;
    animation: txtAnimation;
    animation-duration: 1.5s;
    /* animation-iteration-count: infinite; */
    margin-bottom: 20px;
}

@keyframes txtAnimation {
    from{
        /* clip-path: inset(0 0 100% 0); */
        opacity: 0;
    }
    to{
        /* clip-path: inset(0 0 0 0); */
        opacity: 1;
    }
}


/* slider code*/
.swiper {
    width: 600px;
    height: 350px;
    background-color: #e8f5e93b;
    animation: txtAnimation;
    animation-duration: 2s;
}

  /* end */


.slideImageElements{
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.swiper-wrapper{
    /* margin: 100px 0px 0px 50px; */
    margin: 80px 0 0 0;
}

.platformNames{
    text-align: center;
    color: #6fc375;
}

/* .imageBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
} */

.imageBox{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.imageBox a{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-decoration: none;
    color: chocolate;
}

#linkedinImage{
    margin-top: 5px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#gfgImage{
    height: 120px;
}

#githubImage{
    margin-top: -15px;
    height: 150px;
    margin-bottom: 5px;
}


/* Responsiveness handling*/

@media (max-width: 600px) {
    body{
        background-repeat:round;
    }
    #navBox{
        font-size: 15px;
    }
    .navSelectItems{
        font-size: 13px;
        padding: 2px 2px 2px 2px;
        text-align: center;
    }

    .swiper {
        width: 80%;
        height: 50vh;
    }

    .slideImageElements{
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;      
    }

    #linkedinImage{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
        margin-left: 10px;
        padding-right: 5px;
    }
    
    #gfgImage{
        height: 50px;
        width: 50px;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    #githubImage{
        padding-top: 0px;
        height: 70px;
        margin-bottom: 1px;
    }

    .imageBox{
        font-size: small;
        font-weight: 100;
    }

    .swiper-wrapper{
        margin: 75px 0 0 0;
    }
    
}



/* adjusting the swiping arrows */